/*.wrapper {
    text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart-div {
  width: 320px;
  padding: 2px;
  border: 2px solid gray;
  margin: 0 auto;
  display: inline-block; 
}*/

/*.order-list-div {
	width: 320px;
	border: 2px solid gray;
	margin: 0;
	box-sizing: border-box;
}

.order-tile-div {
	width: 300px;
	border: 1px solid gray;
	margin: 5px;
	box-sizing: border-box;
	display: inline-block; 
}
*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  overflow: scroll;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}